<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>create_validation</servlet-name>
        <servlet-class>servelet.create_validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_qury</servlet-name>
        <servlet-class>servelet.update_qury</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admit</servlet-name>
        <servlet-class>servelet.admit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel_Apint</servlet-name>
        <servlet-class>servelet.cancel_Apint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remark</servlet-name>
        <servlet-class>servelet.remark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checked</servlet-name>
        <servlet-class>servelet.checked</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>servelet.search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_validation</servlet-name>
        <url-pattern>/create_validation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>update_account</servlet-name>
        <servlet-class>servelet.update_account</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_account</servlet-name>
        <url-pattern>/update_account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_qury</servlet-name>
        <url-pattern>/update_qury</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admit</servlet-name>
        <url-pattern>/admit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel_Apint</servlet-name>
        <url-pattern>/cancel_Apint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remark</servlet-name>
        <url-pattern>/remark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checked</servlet-name>
        <url-pattern>/checked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>singup.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>connecter</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://127.0.0.1/hehe</param-value>
    </context-param>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbpass</param-name>
        <param-value>1234</param-value>
    </context-param>
</web-app>
